*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

/***** UTILITY *****/

.content-column{
    margin: 10px;
    padding: 10px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-left-10{
    margin-left: 10px;
}

.padding-10{
    padding: 10px;
}

/***** TEXT-STYLE *****/

.text-center{
    text-align: center;
}

.color-grey{
    color: grey;
}

.color-white{
    color: white;
}

/***** ANIMATION *****/

.button-upgrade{
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 10px;
}

.img-full{
    width: 100%;
}

.img-50{
    width: 50%;
}

/* Main section (top section) */

#main{
    height: calc(100vh - 75px); 
}

.main-container{
    height: 100%;
    display: flex;
}

/* Sidebar */

.sidebar{
    width: 200px;
    height: calc(100vh - 75px);
    background-color: rgb(15, 14, 14);
    flex-direction: column;
}

/* Sidebar top */

.logo-spotify{
    width: 150px;
    height: 75px;
}

ul{
    list-style: none;
}

.ul-playlist{
    height: 20vh;
    overflow-y: auto;
}

.playlist{
    color: white;
    text-transform: uppercase;
}

.square{
    width: 40px;
    height: 40px;
    background-color: gray;
    position: relative;
}

.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sidebar bottom */

.download{
    height: 20px;
    width: 100%;
    font-size: 10px;
}

/* Central content */

.central-content{
    width: calc(100vw - 200px);
    background-color: rgb(25, 25, 45);
    overflow-y: auto;
}

.album-content{
    margin-top: 80px;
}

header{
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}

.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
    background-color: red;
    height: 150px;
}

/* PLayer  */

#player{
    height: 75px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
}

/***** RESPONSIVE *****/

@media screen and (max-width: 768px) {
    .row{
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 4 - 20px);
    }


}

@media screen and (max-width: 576px) {
    .col{
        width: calc(100% / 2 - 20px);
    }
}

