*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;;
}

/***** UTILITY *****/

.content-column{
    margin: 10px;
    padding: 10px;
}

.d-flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.justify-end{
    justify-content: end;
}

.align-center{
    align-items: center;
}

.justify-between{
    justify-content: space-between;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-30{
    margin-top: 30px;
}

.margin-left-10{
    margin-left: 10px;
}

.padding-10{
    padding: 10px;
}

/***** TEXT-STYLE *****/

.text-center{
    text-align: center;
}

.color-grey{
    color: grey;
}

.color-white{
    color: white;
}

/***** ANIMATION *****/

.button-upgrade{
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    color: white;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 10px;
}

.img-full{
    width: 100%;
}

.img-50{
    width: 50%;
}

.hidden{
    display: none;
}

.hover-white:hover{
    color: white;
    cursor: pointer;
}

button:hover{
    font-size: 15px;
    cursor: pointer;
}

.square:hover{
    background-color: white;
    cursor: pointer;
}

.album:hover .circle-play{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

/***** BODY *****/

/* Main section (top section) */

#main{
    height: calc(100vh - 75px); 
}

.main-container{
    height: 100%;
    display: flex;
}

/* Sidebar */

.sidebar{
    width: 200px;
    height: calc(100vh - 75px);
    background-color: rgb(15, 14, 14);
    flex-direction: column;
}

/* Sidebar top */

.logo-spotify{
    width: calc(100% - 40px);
    height: calc(75px - 20px);
}

.icon-sidebar{
    width: 100%;
}

ul{
    list-style: none;
}

.ul-playlist{
    height: 20vh;
    overflow-y: auto;
}

.playlist{
    color: white;
    text-transform: uppercase;
}

.square{
    width: 40px;
    height: 40px;
    background-color: gray;
    position: relative;
}

.plus{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Sidebar bottom */

.download{
    height: 20px;
    width: 100%;
    font-size: 10px;
}

.profile{
    height: 30px;
    width: 100%;
}

.img-profile{
    background-color: grey;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 7px;
}

/* Central content */

.central-content{
    width: calc(100vw - 200px);
    background-color: rgb(12, 12, 26);
    overflow-y: auto;
}

.music-content{
    margin-top: 90px;
}

header{
    height: 75px;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    width: 100%;
}

.container-header{
    width: calc(100vw - 200px);
    margin-right: 10px;
}

/* Ul central content */

.ul-central{
    flex-wrap: wrap;
}

.ul-central li{
    text-transform: uppercase;
    margin-left: 10px;
}

.hr-evidenza{
    background-color: greenyellow;
    width: 50%;
}

/* Recently played */

.container{
    width: 100%;
    margin: 0 auto;
}

.row{
    display: flex;
    width: 100%;
}

.col{
    width: calc(100% / 6 - 20px);
    margin: 10px;
}

.album{
    width: 100%;
    position: relative;
}

.circle-play{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    top: 0%;
    left: 0%;
    color: white;
    background-color: rgba(0,0,0,0.5);
}

.album img{
    width: 100%;
}

/* Artisti più popolari */

.artisti{
    border-radius: 50%;
}

/* PLayer */

#player{
    height: 75px;
    background-color: rgb(37, 37, 37);
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-25{
    width: 25%;
    height: 50px;
    background-color: purple;
}

.col-50{
    width: 50%;
    height: 50px;
    background-color: red;
}

/***** RESPONSIVE *****/

@media screen and (max-width: 768px) {
    .row{
        flex-wrap: wrap;
    }

    .col{
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 576px) {
    .col{
        width: calc(100% / 2 - 20px);
    }

    .hidden{
        display: block;
    }

    .show{
        display: none;
    }

    .sidebar{
        width: 100px;
    }

    .central-content{
        width: calc(100vw - 100px);
    }

    .container-header{
        width: calc(100vw - 100px);
    }

    .logo-spotify{
        height: 50px;
        width: calc(100px - 40px);
        display: flex;
        justify-content: center;
    }

    .icon-sidebar{
        display: flex;
        justify-content: center;
    }

    .download,
    .profile{
        justify-content: center;
    }

}

